@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
html {
    padding: 2em;
    background: white;
}

body {
    font-family: 'Source Sans Pro', Verdana, Arial;
    font-size: 1.1em;
    margin: auto;
    color: #4a4a4a;
    max-width: 50em;
    width: 100%;
    line-height: 1.8;
    background: rgb(255, 255, 255);
    padding: 1.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: justify;
}

a {
    border-bottom: none;
    text-decoration: none;
    color: rgb(177, 4, 14);
}

a:hover {
    color: rgb(177, 4, 14);
    text-decoration: none;
}

/* section {
    /* padding: 2em; */
    /* margin-bottom: em;
    background-color: #f2f2f2;
} */

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    text-align: justify;
}

/* Add responsive design and adjust for smaller screens */
@media (max-width: 1500px) {
    .container {
        grid-template-columns: 1fr;
    }
}